html  
    head
        title=name
    body
        center
            header
                h1='Province of ' + name
                div
                    img(src=images[0])
                div
                    img(src=images[1])
                    img(src=images[2])
            section
                div
                    ul Delicacies
                        li=delicacies[0]
                        li=delicacies[1]
                        li=delicacies[2]
            footer
                cool footer with lots of copyrights
