html  
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        title=shortname
    body=body
        center
            header
                h1=name
                div.container-fluid
                    img(src=images[0] style="width:100%;height:auto;")
                div
                    img(src=images[1] style="width:50%;height:auto;")
                    img(src=images[2] style="width:49%;height:auto;")
                div
                    h1='Major Island '+group
                    p='Population: '+population
            section
                div
                    ul Delicacies
                        each val in delicacies
                            li=val
                p=writeUp
            //footer
                //cool footer with lots of copyrights
